<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdfm.boardqna.mapper.BoardqnaMapper">
<!-- <![CDATA[]] < 특수문자사용시 -->
<select id="selectBoardqnaCount" resultType="int" parameterType="map"> 
  	SELECT
	    count(*) as count
	FROM
	    board a, member b
	WHERE a.mem_id = b.mem_id
	AND a.bo_type = 'QNA'
	AND a.bo_delete_yn = 'N'
	<if test="searchWord != null and searchWord !=''">
		<if test="searchType == 01">
			AND a.bo_title LIKE '%' || #{searchWord} || '%'
		</if>
		<if test="searchType == 02">
			AND a.bo_content LIKE '%' || #{searchWord} || '%'
		</if>
		<if test="searchType == 03">
			AND (a.bo_title LIKE '%' || #{searchWord} || '%' OR  a.bo_content LIKE '%' || #{searchWord} || '%')
		</if>
		<if test="searchType == 04">	
			AND b.mem_name = #{searchWord}
		</if>
	</if>
</select>
  
<select id="selectBoardqnaList" resultType="Boardqna" parameterType="map"> 
<include refid="CommonMapper.pageHeader"></include>
	SELECT
	    a.bo_id,
	    a.bo_type,
	    a.mem_id,
	    b.mem_name as mem_id_name,
	    a.ci_id,
	    c.ci_name as ci_id_name,
	    a.bo_title,
	    a.bo_content,
	    a.bo_hit_cnt,
	    a.bo_notice_yn,
	    a.bo_delete_yn,  
	    a.bo_reg_date,
	    a.bo_upd_date,
	    a.bo_upd_user
	FROM
	    board a, member b, cinema c
	WHERE a.mem_id = b.mem_id	
	AND a.ci_id=c.ci_id
	AND a.bo_type = 'QNA'
	AND a.bo_delete_yn = 'N'
	
	<if test="searchWord != null and searchWord !=''">
		<if test="searchType == 01">
			AND a.bo_title LIKE '%' || #{searchWord} || '%'
		</if>
		<if test="searchType == 02">
			AND a.bo_content LIKE '%' || #{searchWord} || '%'
		</if>
		<if test="searchType == 03">
			AND (a.bo_title LIKE '%' || #{searchWord} || '%' OR  a.bo_content LIKE '%' || #{searchWord} || '%')
		</if>
		<if test="searchType == 04">	
			AND b.mem_name = #{searchWord}
		</if>
	</if>
	ORDER BY bo_id DESC
	<include refid="CommonMapper.pageFooter"></include>
</select>

<select id="selectBoardqna" resultType="Boardqna" parameterType="int"><!-- alias -->
  	SELECT
	    a.bo_id,
	    a.bo_type,
	    a.mem_id,
	    (select b.mem_name from member b 
	    where a.mem_id = b.mem_id) as mem_id_name,
	    a.ci_id,
	    (select c.ci_name from cinema c 
	    where a.ci_id = c.ci_id) as ci_id_name,
	    a.bo_title,
	    a.bo_content,
	    a.bo_hit_cnt,
	    a.bo_notice_yn,
	    a.bo_delete_yn,  
	    a.bo_reg_date,
	    a.bo_upd_date,
	    a.bo_upd_user
	FROM
	    board a
	WHERE a.bo_id = #{bo_id}
	AND a.bo_type = 'QNA'
	AND a.bo_delete_yn = 'N'
</select>

<select id="getCommentList" parameterType="int" resultType="kr.co.gdfm.boardqna.model.Comment">
select
	bo_co_id,
    mem_id,
    bo_co_content,
    bo_co_reg_date,
    bo_co_upd_date,
    bo_co_upd_user,
    bo_id 
from 
	bo_comment
where bo_id = #{bo_id}
order by bo_co_reg_date
</select>

<insert id="commentInsert" parameterType="kr.co.gdfm.boardqna.model.Comment" >
<selectKey keyProperty="bo_co_id" resultType="int" order="BEFORE">
	select bo_comment_seq.nextval from dual
</selectKey>
INSERT INTO bo_comment (
    bo_co_id,
	mem_id,
	bo_co_content,
	BO_CO_UPD_USER,
	bo_id
) VALUES (
    #{bo_co_id},
	#{mem_id},
	#{bo_co_content},
	#{mem_id},
	#{bo_id}
)

</insert>

<update id="updateCommentCnt" parameterType="map" >
update board set 
	comment_cnt = comment_cnt + #{variable}
where bo_id = #{bo_id}

</update>

<delete id="commentDelete" parameterType="int" >
delete from bo_comment where bo_co_id = #{bo_co_id}
</delete>

<update id="commentUpdate" parameterType="map">
update bo_comment set 
	bo_co_content =#{bo_co_content}
where bo_co_id =#{bo_co_id}
</update>

<insert id="insertBoardqna" parameterType="Boardqna">
	<selectKey keyProperty="bo_id" resultType="int" order="BEFORE"><!-- BEFORE/AFTER -->
		SELECT BOARD_SEQ.NEXTVAL FROM DUAL
	</selectKey>
	 
	INSERT INTO board (
	    bo_id,
		bo_type,
		mem_id,
		ci_id,
		bo_title,
		bo_content,
		bo_hit_cnt,
		bo_notice_yn,
		bo_delete_yn,
		bo_reg_date,
		bo_upd_date,
		bo_upd_user
	) VALUES (
	    #{bo_id},
	    #{bo_type},
		#{mem_id},
		NVL(#{ci_id}, 0),
		#{bo_title},
		#{bo_content},
		0,
		NVL(#{bo_notice_yn}, 'N'),
	    'N',
	    SYSDATE,
	    SYSDATE,
	   #{mem_id}
	)
</insert>

<update id="updateBoardqna" parameterType="Boardqna">
	UPDATE board SET
		bo_type         = #{bo_type},
		ci_id         = #{ci_id},
		bo_title        = #{bo_title},
		bo_content      = #{bo_content},	
		bo_notice_yn    = NVL(#{bo_notice_yn}, 'N'),
		bo_upd_user     = #{bo_upd_user},
		bo_upd_date        = SYSDATE
	WHERE bo_id = #{bo_id}

</update>

<delete id="deleteBoardqna" parameterType="map">
  	UPDATE board SET   
		bo_delete_yn = 'Y',
		bo_upd_user = #{bo_upd_user},
		bo_upd_date = SYSDATE
	WHERE bo_id = #{bo_id}
</delete>

<update id="updateHitCntqna" parameterType="int">
  	UPDATE board SET
  		bo_hit_cnt = bo_hit_cnt + 1
  	WHERE bo_id = #{bo_id}
</update>
</mapper>