<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdfm.board.mapper.BoardMapper">
<!-- <![CDATA[]] < 특수문자사용시 -->
<select id="selectBoardCount" resultType="int" parameterType="map"> 
  	SELECT
	    count(*) as count
	FROM
	    board a, member b
	WHERE a.mem_id = b.mem_id
	AND a.bo_type_code = #{bo_type_code}
	AND a.bo_delete_yn = 'N'
	<if test="searchWord != null and searchWord !=''">
		<if test="searchType == 01">
			AND a.bo_title LIKE '%' || #{searchWord} || '%'
		</if>
		<if test="searchType == 02">
			AND a.bo_content LIKE '%' || #{searchWord} || '%'
		</if>
		<if test="searchType == 03">
			AND (a.bo_title LIKE '%' || #{searchWord} || '%' OR  a.bo_content LIKE '%' || #{searchWord} || '%')
		</if>
		<if test="searchType == 04">	
			AND b.mem_name = #{searchWord}
		</if>
	</if>
</select>
  
<select id="selectBoardList" resultType="Board" parameterType="map"> 
<include refid="CommonMapper.pageHeader"></include>
	SELECT
	    a.bo_id,
	    a.bo_type_code,
	    a.mem_id,
	    b.mem_name as mem_id_name,
	    a.ci_id,
	    c.ci_name as ci_id_name,
	    a.bo_title,
	    a.bo_content,
	    a.bo_hit_cnt,
	    a.bo_notice_yn,
	    a.bo_delete_yn,  
	    a.bo_reg_date,
	    a.bo_upd_date,
	    a.bo_upd_user
	FROM
	    board a, member b, cinema c
	WHERE a.mem_id = b.mem_id
	AND a.bo_type_code = #{bo_type_code}
	AND a.ci_id=c.ci_id
	AND a.bo_delete_yn = 'N'
	
	<if test="searchWord != null and searchWord !=''">
		<if test="searchType == 01">
			AND a.bo_title LIKE '%' || #{searchWord} || '%'
		</if>
		<if test="searchType == 02">
			AND a.bo_content LIKE '%' || #{searchWord} || '%'
		</if>
		<if test="searchType == 03">
			AND (a.bo_title LIKE '%' || #{searchWord} || '%' OR  a.bo_content LIKE '%' || #{searchWord} || '%')
		</if>
		<if test="searchType == 04">	
			AND b.mem_name = #{searchWord}
		</if>
	</if>
	ORDER BY bo_id DESC
	<include refid="CommonMapper.pageFooter"></include>
</select>

<select id="selectNoticeList" resultType="Board" parameterType="map"> 
	SELECT
	    a.bo_id,
	    a.bo_type_code,
	    a.mem_id,
	    b.mem_name as mem_id_name,
	    a.ci_id,
	    c.ci_name as ci_id_name,
	    a.bo_title,
	    a.bo_content,
	    a.bo_hit_cnt,
	    a.bo_notice_yn,
	    a.bo_delete_yn,  
	    a.bo_reg_date,
	    a.bo_upd_date,
	    a.bo_upd_user
	FROM
	    board a, member b, cinema c
	WHERE a.mem_id = b.mem_id	
	AND a.ci_id=c.ci_id
	AND a.bo_type_code = 1
	AND a.bo_notice_yn = 'Y'
	AND a.bo_delete_yn = 'N'
	ORDER BY bo_id DESC
</select>

<!-- <select id="selectCinemaList" resultType="kr.co.gdfm.cinema.model.Cinema" parameterType="map"> 
	SELECT
	    ci_id,
		ci_name
	FROM
	    cinema
	ORDER BY ci_id ASC
</select> -->

<select id="selectBoard" resultType="Board" parameterType="int"><!-- alias -->
  	SELECT
	    a.bo_id,
	    a.bo_type_code,
	    a.mem_id,
	    (select b.mem_name from member b 
	    where a.mem_id = b.mem_id) as mem_id_name,
	    a.ci_id,
	    (select c.ci_name from cinema c 
	    where a.ci_id = c.ci_id) as ci_id_name,
	    a.bo_title,
	    a.bo_content,
	    a.bo_hit_cnt,
	    a.bo_notice_yn,
	    a.bo_delete_yn,  
	    a.bo_reg_date,
	    a.bo_upd_date,
	    a.bo_upd_user
	FROM
	    board a
	WHERE a.bo_id = #{bo_id}
	AND a.bo_delete_yn = 'N'
</select>

<select id="getCommentList" parameterType="int" resultType="kr.co.gdfm.boardqna.model.Comment">
select
	bo_co_id,
    mem_id,
    bo_co_content,
    bo_co_reg_date,
    bo_co_upd_date,
    bo_co_upd_user,
    bo_id 
from 
	bo_comment
where bo_id = #{bo_id}
order by bo_co_reg_date
</select>

<insert id="commentInsert" parameterType="kr.co.gdfm.boardqna.model.Comment" >
<selectKey keyProperty="bo_co_id" resultType="int" order="BEFORE">
	select bo_comment_seq.nextval from dual
</selectKey>
INSERT INTO bo_comment (
    bo_co_id,
	mem_id,
	bo_co_content,
	bo_co_upd_user,
	bo_id
) VALUES (
    #{bo_co_id},
	#{mem_id},
	#{bo_co_content},
	#{mem_id},
	#{bo_id}
)

</insert>

<update id="updateCommentCnt" parameterType="map" >
update board set 
	comment_cnt = comment_cnt + #{variable}
where bo_id = #{bo_id}

</update>

<delete id="commentDelete" parameterType="int" >
delete from bo_comment where bo_co_id = #{bo_co_id}
</delete>

<update id="commentUpdate" parameterType="map">
update bo_comment set 
	bo_co_content =#{bo_co_content}
where bo_co_id =#{bo_co_id}
</update>

<insert id="insertBoard" parameterType="Board">
	<selectKey keyProperty="bo_id" resultType="int" order="BEFORE"><!-- BEFORE/AFTER -->
		SELECT BOARD_SEQ.NEXTVAL FROM DUAL
	</selectKey>
	 
	INSERT INTO board (
	    bo_id,
		bo_type_code,
		mem_id,
		ci_id,
		bo_title,
		bo_content,
		bo_hit_cnt,
		bo_notice_yn,
		bo_delete_yn,
		bo_reg_date,
		bo_upd_date,
		bo_upd_user
	) VALUES (
	    #{bo_id},
	    #{bo_type_code},
		#{mem_id},
		NVL(#{ci_id}, 0),
		#{bo_title},
		#{bo_content},
		0,
		NVL(#{bo_notice_yn}, 'N'),
	    'N',
	    SYSDATE,
	    SYSDATE,
	   #{mem_id}
	)
</insert>

<update id="updateBoard" parameterType="Board">
	UPDATE board SET
		bo_type_code    = #{bo_type_code},
		ci_id           = #{ci_id},
		bo_title        = #{bo_title},
		bo_content      = #{bo_content},	
		bo_notice_yn    = NVL(#{bo_notice_yn}, 'N'),
		bo_upd_user     = #{bo_upd_user},
		bo_upd_date        = SYSDATE
	WHERE bo_id = #{bo_id}

</update>

<delete id="deleteBoard" parameterType="map">
  	UPDATE board SET   
		bo_delete_yn = 'Y',
		bo_upd_user = #{bo_upd_user},
		bo_upd_date = SYSDATE
	WHERE bo_id = #{bo_id}
</delete>

<update id="updateHitCnt" parameterType="int">
  	UPDATE board SET
  		bo_hit_cnt = bo_hit_cnt + 1
  	WHERE bo_id = #{bo_id}
</update>
<select id="selectBoardtypeList" resultType="kr.co.gdfm.board.model.Boardtype" parameterType="map"> 
	SELECT
	    bo_type_code,
	    bo_type_name
	FROM
	    board_type
	WHERE bo_type_code = #{bo_type_code}
</select>
<select id="selectBoardcmtnoticeList" resultType="Board" parameterType="map"> 
	SELECT
	    a.bo_id,
	    a.bo_type_code,
	    a.mem_id,
	    b.mem_name as mem_id_name,
	    a.ci_id,
	    c.ci_name as ci_id_name,
	    a.bo_title,
	    a.bo_content,
	    a.bo_hit_cnt,
	    a.bo_notice_yn,
	    a.bo_delete_yn,  
	    a.bo_reg_date,
	    a.bo_upd_date,
	    a.bo_upd_user,
	    d.notice_check_yn
	FROM
	    board a, member b, cinema c, bo_comment_notice d
	WHERE a.mem_id = b.mem_id	
	AND a.ci_id=c.ci_id
	AND a.bo_type_code = 2
	AND d.notice_check_yn = 'N'
	AND a.bo_delete_yn = 'N'
	ORDER BY bo_id DESC
</select>
<insert id="insertBoardcmtnotice" parameterType="kr.co.gdfm.board.model.Boardcmtnotice">
	<selectKey keyProperty="notice_id" resultType="int" order="BEFORE"><!-- BEFORE/AFTER -->
		SELECT BO_COMMENT_NOTICE_SEQ.NEXTVAL FROM DUAL
	</selectKey>
	 
	INSERT INTO bo_comment_notice (
	    notice_id,
		bo_co_id,
		notice_check_yn
	) VALUES (
	    #{notice_id},
	    #{bo_co_id},
		NVL(#{notice_check_yn}, 'N')
	)
</insert>
</mapper>