<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdfm.cinema.mapper.CinemaMapper">

	<!-- 상영중인 영화 조회 -->
	<select id="selectCinemaAddr1" parameterType="map"
		resultType="kr.co.gdfm.cinema.model.Cinema">
		select distinct ci_addr1
		from cinema

	</select>

	<select id="getCinemaAddr2" parameterType="string"
		resultType="map">
		select ci_addr2
		from CINEMA
		where ci_addr1 = #{ci_addr1}
	</select>
	
	<select id="getMovieNameByCinema" resultType="map">
	select d.movie_id, d.movie_grade,d.movie_ko_name
from movie d, 
(
select distinct a.movie_id as 선택지역상영영화id 
from movie_show_info a, cinema b
where a.ci_id = 
(
select ci_id 
from cinema
where ci_addr1 = #{ci_addr1} and ci_addr2 = #{ci_addr2}
)
) c 
where d.movie_id = c.선택지역상영영화id
and d.movie_show_yn ='Y'
	</select>
	
	
	<select id="selectCinemaListByMovie" resultType="kr.co.gdfm.cinema.model.Cinema" >
select distinct a.ci_addr1
from cinema a ,
(
select ci_id 
from movie_show_info
where movie_id = #{ci_id}
) b
where a.ci_id = b.ci_id
	</select>
	
	
	
	
	



</mapper>