<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdfm.movie.mapper.MovieMapper">


<!-- 상영중인 영화 조회 -->
<select id="selectShowMovie" resultType="kr.co.gdfm.movie.model.Movie">
SELECT *
FROM MOVIE
WHERE MOVIE_SHOW_YN = 'Y'
</select>




</mapper>