<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdfm.movie.mapper.MovieMapper">


<!-- 상영중인 영화 조회 -->
<select id="selectShowMovie" resultType="kr.co.gdfm.movie.model.Movie">
SELECT *
FROM MOVIE
WHERE MOVIE_SHOW_YN = 'Y'
</select>

<!-- 영화 상세 보기  -->
<select id="selectMovieDetail" resultType="kr.co.gdfm.movie.model.Movie" parameterType="int">
	 select movie_id,movie_name,movie_ko_name,movie_grade,movie_story,movie_trailer,movie_show_yn
	,to_char(movie_release_date,'yyyy.mm.dd') as movie_release_date,movie_director,movie_actor,movie_running_time,movie_production_country
   from movie
	 where movie_id=#{xx} 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	<!--  select a.movie_id,a.movie_name,a.movie_ko_name,a.movie_grade,a.movie_story,a.movie_trailer,a.movie_show_yn
	,to_char(a.movie_release_date,'yyyy.mm.dd') as movie_release_date,a.movie_director,a.movie_actor,a.movie_running_time,a.movie_production_country,b.movie_genre_code
   from movie a,
   			movie_genre b
	 where a.movie_id=b.movie_id
       -->
	<!-- select *
	from movie
	where movie_id=#{xx} -->
</select>

<!-- 영화 장르 코드 Join 부분  -->
	<select id="selectGenreList" resultType="string" parameterType="int">
		<!-- select a.MOVIE_ID,b.MOVIE_GENRE_NAME
		from movie_genre a, movie_genre_code b
		where a.MOVIE_GENRE_CODE = b.MOVIE_GENRE_CODE -->
		select b.MOVIE_GENRE_NAME
			from movie_genre a, movie_genre_code b
			where a.MOVIE_GENRE_CODE =  b.MOVIE_GENRE_CODE
			AND MOVIE_ID = #{movie_id}
	</select>


<select id="selectMovieList" resultType="kr.co.gdfm.movie.model.Movie">
	select *
from movie
order by  movie_release_date DESC
</select>

<select id="selectMoviePreviewList" resultType="kr.co.gdfm.movie.model.Movie">
	select * 
	 from movie
   where SYSDATE-movie_release_date <![CDATA[<]]>0
</select>
	 

</mapper>