<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdfm.payment.mapper.PaymentMapper">

<insert id = "insertPayment" parameterType="map">
INSERT INTO pay (
    pay_id,
    pay_type,
    pay_amount,
    pay_date,
    card_code,
    pay_addpoint,
    mem_id
) VALUES (
    #{imp_uid},
    'card',
    #{pay_amount},
    SYSDATE,
    0,
   #{pay_addpoint},
    #{mem_id}    
) 
</insert>

<update id="reservationPayUpdate" parameterType="map">
update movie_reservation
set pay_id = #{imp_uid}
where reservation_id = #{reservation_id}
</update>

<update id="snackPayUpdate" parameterType="map">
update snack_buy
set pay_id = #{imp_uid}
where snack_buy_id = #{snack_buy_id}
and pay_id is null
</update>


<update id="addPoint" parameterType="map">
update member set
	mem_point=mem_point+ #{pay_addpoint}
where mem_id=#{mem_id}
</update>

<update id="minusPoint" parameterType="map">
update member set
	mem_point=mem_point- #{usedPoint}
where mem_id=#{mem_id}
</update>



<select id="getReservationDetail" parameterType="map" resultType="map">
select c.movie_ko_name,d.dimension_name,e.ci_name,f.screen_name,b.start_time,b.end_time
from movie_reservation a, movie_show_info b,movie c, movie_dimension_code d, cinema e, screen f
where a.reservation_id = #{reservation_id}
and a.show_id= b.show_id 
and c.movie_id = b.movie_id
and b.dimension_code = d.dimension_code
and b.screen_id = f.screen_id
and e.ci_id = f.ci_id
</select>


<select id="reservationSitList" resultType="string">
select sit_num from reservation_sit
where reservation_id =#{reservation_id}
</select>







	

</mapper>