<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdfm.reservation.mapper.ReservationMapper">

	<select id="getDateList" resultType="map">
	
	<![CDATA[
	SELECT TO_CHAR(TO_DATE(BB.DAY, 'YYYYMMDD') + NUM-1,'YYYYMMDD') AS useday,
	TO_CHAR(TO_DATE(BB.DAY, 'YYYYMMDD') + NUM-1, 'YYYY') AS year
      ,
      case when 
      substr(TO_CHAR(TO_DATE(BB.DAY, 'YYYYMMDD') + NUM-1, 'MM'),1,1) = '0' then 
    substr(TO_CHAR(TO_DATE(BB.DAY, 'YYYYMMDD') + NUM-1, 'MM'),2,1) else  
    TO_CHAR(TO_DATE(BB.DAY, 'YYYYMMDD') + NUM-1, 'MM') end
        as month 
      ,TO_CHAR(TO_DATE(BB.DAY, 'YYYYMMDD') + NUM-1, 'DD') AS day
      ,decode(TO_CHAR(TO_DATE(BB.DAY, 'YYYYMMDD') + NUM-1, 'd'),
              '1','일',
              '2','월',
              '3','화',
              '4','수',
              '5','목',
              '6','금','토') as weekday
  FROM (
                SELECT ROWNUM AS NUM 
                  FROM dictionary A,(
                            SELECT B.DAY AS BDAY, C.DAY AS CDAY 
                              FROM
                            ( SELECT TO_CHAR(sysdate, 'YYYYMMDD') AS DAY FROM DUAL ) B,
                            ( SELECT TO_CHAR(sysdate+7, 'YYYYMMDD') AS DAY FROM DUAL ) C
                                                   ) B
         WHERE ROWNUM <= TO_DATE(B.CDAY, 'YYYYMMDD') - TO_DATE(B.BDAY, 'YYYYMMDD')  + 1) AA,
( SELECT TO_CHAR(sysdate, 'YYYYMMDD') AS DAY FROM DUAL ) BB
	]]>
	
	
	
	
	
	
	</select>
	
	
	
	
	

	<select id ="getShowInfo" resultType="kr.co.gdfm.reservation.model.MovieShowInfo">
  select d.*, (d.좌석수-nvl(e.예매좌석수,0)) as sit
    from
    (
    select a.show_id, b.ci_id, a.screen_id, b.screen_name,(b.screen_row*b.screen_column) as 좌석수,a.start_time,a.end_time,c.dimension_name
    from movie_show_info a, screen b ,movie_dimension_code c
    where a.screen_id = b.screen_id
    and a.dimension_code = c.dimension_code
    and a.movie_id = #{movie_id} and b.ci_id = #{ci_id} and show_date = to_date(#{show_date},'yyyy/mm/dd')
    ) d left outer join 
    (
    select f.show_id, f.reservation_id, count(g.sit_num) as 예매좌석수
    from movie_reservation f, reservation_sit g 
    where f.reservation_id = g.reservation_id 
  group by f.show_id, f.reservation_id
    ) e
    on(d.show_id = e.show_id)
    order by d.screen_name,d.start_time
	</select>
	
	<select id = "getReserveShowInfo" resultType ="map">
   select b.movie_trailer, b.movie_ko_name,a.* ,c.screen_row, c.screen_column,d.ci_name
from
    (
    select show_id, movie_id,screen_id,dimension_code,start_time,end_time,show_date
    from movie_show_info
    where show_id = #{show_id}
    ) a , movie b, screen c ,cinema d 
    where a.movie_id = b.movie_id
    and a.screen_id = c.screen_id
    and c.ci_id = d.ci_id


	</select>
	
	<insert id="insertReservation" parameterType="kr.co.gdfm.reservation.model.Reservation">
	
<selectKey keyProperty="reservation_id" resultType="int" order="BEFORE" >
			select movie_reservation_seq.nextval from dual
		</selectKey>
		
INSERT INTO movie_reservation (
    reservation_id,
    mem_id,
    show_id,
    reservation_reg_date,
    pay_id
) VALUES (
    #{reservation_id},
    #{mem_id},
    #{show_id},
    SYSDATE,
    null
)
	
	
	</insert>
	
	<select id="getReservedSit" resultType="map">
	
	select b.sit_num
from reservation_sit b,
movie_reservation a
where a.reservation_id = b.reservation_id
and a.show_id = #{show_id}
	</select>
	
<select id="isReservedSit" parameterType="map" resultType="int">
select count(*)
from movie_reservation a, reservation_sit b, movie_show_info c
where a.reservation_id = b.reservation_id
and a.show_id = c.show_id
and c.show_id = #{show_id} 
and b.sit_num = #{selectSit} 
</select>	
	<insert id="insertSit" parameterType="map">
	INSERT INTO reservation_sit ( reservation_id,sit_num ) VALUES (#{reservation_id},#{selectSit})
	</insert>
	<delete id="deleteSit" parameterType="map">
	delete from reservation_sit
	where reservation_id = #{reservation_id} and sit_num = #{selectSit}
	</delete>
</mapper>